host {
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

mat-card {
    width: 40%;
    min-width: 600px;
    margin-top: 4rem;
    padding: 2rem;
    padding-bottom: 3rem;
}

mat-form-field {
    display: block;
}

table {
    margin-top: 2rem;
    width: 100%;
    margin-bottom: 2rem;
}

mat-spinner {
    margin: 4rem auto;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    display: grid;
    place-items: center;
}

.mat-spinner-color::ng-deep circle {
    stroke: rgb(1, 99, 1) !important;
}

button {
    margin: 0.2rem;
    float: right;
}

math-column-numeroplan {
    width: 10%;
}

math-column-categorie {
    width: 16%;
}


math-column-frequence {
    width: 16%;
}


math-column-nbrcalories {
    width: 16%;
}

math-column-numerofournisseur {
    width: 16%;
}


math-column-prix {
    width: 16%;
}


math-column-actions {
    width: 10%;
}

.container {
    font-size: 22px;
    min-width: 80%;
}
