/* .cdk-overlay-pane.my-dialog {
    position: relative!important;
  } */
.close.mat-button {
  float: right;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}

mat-form-field {
  display: block;
}
.cancel {
  /* margin-right: 10px; */
  float: right;
}
.update {
  float: left;
  /* margin-left: 10px; */
}

.button-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}