<button class="close" mat-button (click)="close()">X</button>
<p>Veuillez entrer les information ci-dessous:</p>

<form [formGroup]="addForm">
    <!-- <mat-form-field>
        <mat-label>NumeroPlan</mat-label>
        <input matInput type="text" id="numeroplan" formControlName="numeroplan" />
    </mat-form-field> -->
    <mat-form-field>
        <mat-label>Categorie</mat-label>
        <input matInput type="text" id="categorie" formControlName="categorie" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Frequence</mat-label>
        <input matInput placeholder = 'Combien de fois par semaine?'type="number" id="frequence" formControlName="frequence" min='1' max='7'/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nbr Personnes</mat-label>
        <input matInput type="number" min="0" value="1000" id="nbrpersonnes" formControlName="nbrpersonnes" />
    </mat-form-field>
     <mat-form-field>
        <mat-label>Nbr Calories</mat-label>
        <input matInput type="number" min="0" id="nbrcalories" formControlName="nbrcalories" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Prix</mat-label>
        <input matInput type="number" min="0" id="prix" formControlName="prix" />
    </mat-form-field>

        <mat-form-field>
            <mat-label>Numero Fournisseur</mat-label>
            <input matInput type="text" id="numerofournisseur" formControlName="numerofournisseur" />
        </mat-form-field>
       
  
</form>

<button class="create" mat-raised-button color="primary" type="submit" [disabled]="addForm.invalid" (click)="addPlanRepas()">
    <mat-icon>add</mat-icon> Ajouter Plan Repas
</button>
