

.close.mat-button {
    float: right;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
  }
mat-form-field {
    display: block;
}

.button-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
