<div>
  <nav class="navbar navbar-dark bg-dark main-nav">
    <a class="navbar-brand title" href="/" matTooltip="Retournez à l'accueil">INF3710 - TP4</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/ROUTEUR_À_IMPLÉMENTER">LIEN 1</a>
        <a class="nav-item nav-link active" routerLink="/ROUTEUR_À_IMPLÉMENTER">LIEN 2</a>
        <a class="nav-item nav-link active" routerLink="/ROUTEUR_À_IMPLÉMENTER">LIEN 3</a>
      </div>
      <button mat-raised-button color="primary" class="button" routerLink="planrepas">Voir les plan repas</button>
    </div>
  </nav>

  <div class="home" *ngIf="route == ''">
    <p>
      Titre
    </p>
    
  </div>
  <router-outlet></router-outlet>
</div>
